$primary:red;
$bgclr:blue;
$font:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
.grp1{
    h1{
        color:$primary;
    }
    p{
        font-family: 'Times New Roman', Times, serif;
        background-color:$bgclr;
        color:$primary;
        font-family: $font;
        
        

    }
}
.parent{
    div{
        background-color: $primary;
    
    }
}
@mixin commmon_style($color){
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color:$color
}
header{
    nav{
        a{
            @include commmon_style(blue)
        }
    }
}